.category-swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fafafa;
}

.mySwiper {
  width: 100%;
  max-width: 1000px;
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* navigation button color */
}

.swiper-pagination-bullet {
  background: #000;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #ff5722;
  opacity: 1;
}



@keyframes glow {
  0% {
    box-shadow: 0 0 5px #84cc16, 0 0 10px #84cc16, 0 0 20px #84cc16;
  }
  50% {
    box-shadow: 0 0 20px #a3e635, 0 0 40px #a3e635, 0 0 60px #a3e635;
  }
  100% {
    box-shadow: 0 0 5px #84cc16, 0 0 10px #84cc16, 0 0 20px #84cc16;
  }
}
.glow-text {
  animation: glow 1.8s ease-in-out infinite alternate;
}
